.eFormulario{
    border: 0.2rem solid black ;
    width: 30%;
    padding: 1.5rem;
}

.eDatos label{
    padding-left: 0;
    margin-top: 1rem;
}

.ePrecio button{
    margin-top: 1.5rem;
    width: 30%;
}

.eDatos input{
    width: 50%;
    margin-top: 0.5rem;
    border: 2px solid black;
    border-radius: 5px;
}

.eFormulario button{
    display: flex;
    justify-content: center;
}

.btn-Cargar{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.btn-Cargar button{
    border-radius: 10px;
    background: chocolate;
}

/**/
input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {

    -webkit-appearance: none;

    margin: 0;

}

 

input[type=number] {

    -moz-appearance:textfield;

}
/**/

.contenedorMuestraPaquete{
   text-align: center;
   margin-top: 2rem;
}

/* Modo Dark o Ligth*/

.dark{
    background-color: #222;
    color: #e6e6e6
}

.mode{
    margin: 2rem 0rem 0rem 2rem;
}
.mode p{
    border: 3px solid rgb(208, 75, 75);
    padding: 0.2rem;
    border-radius: 10px;
    display: inline;
}